<mat-card class="app">
  <h2 mat-card-title
      class="header">Joe's Email App for Behavox</h2>
  <form class="filters"
        [formGroup]="filtersFormGroup">
    <mat-form-field>
      <mat-label>Search email by Text</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input matInput
             formControlName="textSearch"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Filter email by date</mat-label>
      <input matInput
             formControlName="dateFilter"
             [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix
                             [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker
                      [startAt]="datePickerStartDate$ | async"></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input type="text"
             placeholder="Filter email by Contacts"
             aria-label="Number"
             matInput
             formControlName="contactsFilter"
             [matAutocomplete]="auto">
      <mat-icon matSuffix>supervised_user_circle</mat-icon>
      <mat-autocomplete autoActiveFirstOption
                        #auto="matAutocomplete">
        <mat-option *ngFor="let option of contactOptions$ | async"
                    [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <div mat-card-content>
    <app-main [filters$]="filters$"></app-main>
  </div>
</mat-card>
