.app {
  width: 1200px;
  margin: auto;

  .header {
    text-align: center;
  }

  .filters {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eeeeee;
  }
}
