.main {
  table {
    min-height: 200px;
    width: 100%;
    table-layout: fixed;

    .mat-cell {
      padding: 0 10px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .subject-header, .from-header, .to-header {
      width: 230px;
    }

    .date-header {
      width: 100px;
    }


    tr.email-detail-row {
      height: 0;
    }

    tr.email-row:not(.email-expanded-row):hover {
      background: whitesmoke;
    }

    tr.email-row:not(.email-expanded-row):active {
      background: #efefef;
    }

    .email-row {
      border-bottom: 1px solid #cccccc;
      padding: 10px 0;
      cursor: pointer;

      &.email-expanded-row {
        background: #efefef;
      }

      td {
        border-bottom-width: 0;
      }

      .from, .to {
        font-weight: bold;
        font-size: 15px;
        margin: 0 10px;
        width: 150px;
        word-break: break-word;
      }

      .subject {
        font-weight: 800;
        font-size: 12px;
      }

      .date {
        padding: 0 10px;
        font-weight: 800;
        font-size: 12px;
        text-align: right;
      }
    }

    .email-detail {
      overflow: auto;
      display: flex;
      max-height: 500px;
    }
  }
}

