<div class="main">
  <table mat-table
         class="email_table"
         matSort
         matSortActive="date"
         matSortDirection="asc"
         multiTemplateDataRows
         [trackBy]="trackFn"
         [dataSource]="emails$|async">

    <!-- From Column -->
    <ng-container matColumnDef="from">
      <th mat-header-cell
          mat-sort-header
          class="from-header"
          *matHeaderCellDef> From
      </th>
      <td mat-cell
          class="from"
          *matCellDef="let element"> {{element?.from}} </td>
    </ng-container>

    <!-- To Column -->
    <ng-container matColumnDef="to">
      <th mat-header-cell
          mat-sort-header
          class="to-header"
          *matHeaderCellDef> To
      </th>
      <td mat-cell
          *matCellDef="let element"
          class="to">{{element.to | joinArray | shortenText: 90}}</td>
    </ng-container>

    <!-- Subject Column -->
    <ng-container matColumnDef="subject">
      <th mat-header-cell
          class="subject-header"
          *matHeaderCellDef> Subject
      </th>
      <td mat-cell
          *matCellDef="let element"
          class="subject"
          [innerHTML]="element.subject | searchTextHighlight: (highlightedText$ | async)  | safeHtml"></td>
    </ng-container>

    <!-- Body Column -->
    <ng-container matColumnDef="body">
      <th mat-header-cell
          class="body-header"
          *matHeaderCellDef></th>
      <td mat-cell
          *matCellDef="let element"
          [innerHTML]="(element.id === expandedEmail?.id)? '': (element?.body | shortenText: 150 : (highlightedText$ | async)   | searchTextHighlight: (highlightedText$ | async) | safeHtml)"></td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell
          mat-sort-header
          class="date-header"
          *matHeaderCellDef>Date
      </th>
      <td mat-cell
          class="date"
          *matCellDef="let element"> {{element?.date | date:'shortDate'}} </td>
    </ng-container>
    <!-- Expanded Content Column  -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="email-detail"
             [@detailExpand]="element.id === expandedEmail?.id ? 'expanded' : 'collapsed'">
          <app-email [highlightedText]="highlightedText$ | async"
                     [email]="expandedEmail"></app-email>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row
        *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        class="email-row"
        [class.email-expanded-row]="expandedEmail?.id === row.id"
        (click)="setExpandedEmail(row)"
        *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="email-detail-row"></tr>
  </table>
  <mat-paginator #paginator
                 [pageSize]="pageSize"></mat-paginator>
</div>
