<div class="email"
     *ngIf="threadedEmail">
  <div class="email">
    <div class="email_content">
      <div class="to">To: {{threadedEmail.to | joinArray}}</div>
      <div class="cc"
           *ngIf="threadedEmail.cc?.length > 0">cc: {{threadedEmail.cc | joinArray}}</div>
      <div class="cc"
           *ngIf="threadedEmail.bcc?.length > 0">bcc: {{threadedEmail.bcc | joinArray}}</div>
      <div class="body"
           [innerHTML]="threadedEmail.body | searchTextHighlight: highlightedText | safeHtml  "></div>
    </div>
    <div *ngFor="let thread of threadedEmail.threads"
         class="thread"
         [innerHTML]="thread | searchTextHighlight: highlightedText | safeHtml  "></div>
  </div>
</div>
