.email {
  margin-top: 10px;

  .to {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .cc {
    margin-bottom: 10px;
  }

  .body, .thread {
    white-space: pre-line;
  }

  .thread {
    border-top: 1px solid #eeeeee;
    margin-top: 10px;
  }
}
